<!DOCTYPE html>
<html>
    <head>
        <title>Show Page</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <h1>Hello world! This is your EDIT page.</h1>
        <p>I have not yet figured out how to interpolate here, either.
        </p>

    </body>
</html>
