<!DOCTYPE html>
<html>
    <head>
        <title>Show Page</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <h1>Hello world! This is your SHOW page.</h1>
        <p>I have not yet figured out how to properly do the
            interpolation to make the stuff I want show up here.
        </p>

    </body>
</html>
